nav {
    background-color: rgb(166, 166, 218);
    color: white;

 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding:  20px 10px;
   
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 15%;
        margin: 0;
        li{
            cursor: pointer;
            font-size: 15px;
            text-decoration: none;

        }
    
}
 }
}


   