<div class="card  mt-4" style="width: 18rem;">
    <div routerLink="/product-details/{{data.id}}">
        <img src="{{data.image}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{data.title}} </h5>
            <p class="card-text">{{data.description}}</p>
        </div>

    </div>
    <div class="d-flex justify-content-between align-item-end">
        <button class="card-button" *ngIf="!isAdd" (click)="isAdd =true">Add To Cart</button>
        <div *ngIf="isAdd" class="quantity">
            <input [(ngModel)]="amount" class="form-control quantity-input">
            <button (click)="add()" class="btn btn-success quantity-add">Add</button>
        </div>
        <span class="card-price">{{data.price}} JD</span>
    </div>


</div>